In [23]:
import pandas as pd
import mplfinance as mpf

# Load your CSV file
df = pd.read_csv('COIN-4hour-2019-01-01-to-2024-09-02.csv')

# Convert the 'timestamp' column to datetime (if not already)
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

# Drop any rows with missing or NaT timestamps
df.dropna(subset=['timestamp'], inplace=True)

# Set the 'timestamp' column as the index
df.set_index('timestamp', inplace=True)

# Verify that the index is a DatetimeIndex
if not isinstance(df.index, pd.DatetimeIndex):
    print("Index is not DatetimeIndex, converting now...")
    df.index = pd.to_datetime(df.index)

# Rename the columns to ensure they match mplfinance expectations (open, high, low, close, volume)
df.rename(columns={'open': 'Open', 'high': 'High', 'low': 'Low', 'close': 'Close', 'volume': 'Volume'}, inplace=True)

# Check if the DataFrame has the necessary columns
print(df.head())

# Plot with mplfinance
mpf.plot(df, type='candle', volume=True, title='COIN 4-hour Data', style='charles', mav=(10, 20, 50))

Index is not DatetimeIndex, converting now...

C:\Users\TGAdmin\AppData\Local\Temp\ipykernel_19604\42664494.py:8: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce')

ValueError: Tz-aware datetime.datetime cannot be converted to datetime64 unless utc=True, at position 707

In [ ]:
df.rename(columns={'timestamp':'Date','open':'Open', 'high':'High', 'low':'Low', 'close':'Close'}, inplace=True)

In [9]:
df['Date'] = pd.to_datetime(df['Date'])
df

C:\Users\TGAdmin\AppData\Local\Temp\ipykernel_19604\66253117.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['Date'] = pd.to_datetime(df['Date'])

,Date,Open,High,Low,Close,volume,vwap
0,2021-04-14 13:00:00-04:00,381.00,429.54,310.0000,335.99,79720058.0,370.1052
1,2021-04-14 17:00:00-04:00,335.06,350.99,335.0000,338.00,1100619.0,343.2871
2,2021-04-15 01:00:00-04:00,367.00,369.00,357.1000,366.30,246905.0,362.8557
3,2021-04-15 05:00:00-04:00,366.00,366.80,346.2200,349.78,1440180.0,352.9881
4,2021-04-15 09:00:00-04:00,349.78,350.05,321.5401,333.92,26102581.0,335.2768
...,...,...,...,...,...,...,...
3972,2024-08-30 01:00:00-04:00,190.00,190.86,189.9900,190.35,7727.0,190.3501
3973,2024-08-30 05:00:00-04:00,190.51,190.92,188.5000,189.60,113078.0,189.7035
3974,2024-08-30 09:00:00-04:00,189.73,189.99,180.7000,181.32,4506951.0,184.6701
3975,2024-08-30 13:00:00-04:00,181.48,183.65,180.0400,183.50,2026826.0,181.9969
3976,2024-08-30 17:00:00-04:00,183.50,183.79,183.2217,183.61,23835.0,183.5586

In [10]:
df.set_index('Date',inplace=True)
df

,Open,High,Low,Close,volume,vwap
Date,,,,,,
2021-04-14 13:00:00-04:00,381.00,429.54,310.0000,335.99,79720058.0,370.1052
2021-04-14 17:00:00-04:00,335.06,350.99,335.0000,338.00,1100619.0,343.2871
2021-04-15 01:00:00-04:00,367.00,369.00,357.1000,366.30,246905.0,362.8557
2021-04-15 05:00:00-04:00,366.00,366.80,346.2200,349.78,1440180.0,352.9881
2021-04-15 09:00:00-04:00,349.78,350.05,321.5401,333.92,26102581.0,335.2768
...,...,...,...,...,...,...
2024-08-30 01:00:00-04:00,190.00,190.86,189.9900,190.35,7727.0,190.3501
2024-08-30 05:00:00-04:00,190.51,190.92,188.5000,189.60,113078.0,189.7035
2024-08-30 09:00:00-04:00,189.73,189.99,180.7000,181.32,4506951.0,184.6701
2024-08-30 13:00:00-04:00,181.48,183.65,180.0400,183.50,2026826.0,181.9969
2024-08-30 17:00:00-04:00,183.50,183.79,183.2217,183.61,23835.0,183.5586

In [11]:
import mplfinance as mpf
mpf.plot(df, type='candle', style='charles' )

TypeError: Expect data.index as DatetimeIndex

In [18]:
# Load your CSV file
df = pd.read_csv('COIN-4hour-2019-01-01-to-2024-09-02.csv')

# Rename columns to match mplfinance requirements
df.rename(columns={'timestamp': 'Date', 'open': 'Open', 'high': 'High', 'low': 'Low', 'close': 'Close', 'volume': 'Volume'}, inplace=True)

# Convert the 'Date' column to datetime
# df['Date'] = pd.to_datetime(df['Date'])

# Set the index to 'Date' for plotting with mplfinance
df.set_index('Date', inplace=True)
df.sort_index(inplace=True)

# Plot the data using mplfinance
mpf.plot(df, type='candle', style='charles', volume=True, title="COIN 4 Hour Candlestick Chart")

TypeError: Expect data.index as DatetimeIndex